<% content_for(:title, t('.title')) %>

<div class="py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="mb-10 md:mb-16">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-300 md:mb-6 lg:text-3xl"><%= t('.title') %></h2>
    </div>

    <h2 class="mb-2 text-xl font-semibold text-gray-300 sm:text-2xl md:mb-4">お客様から取得する情報</h2>

    <p class="mb-6 text-gray-400 sm:text-lg md:mb-8">当サービスは、お客様から以下の情報を取得します。</p>

    <ul class="mb-6 list-inside list-disc text-gray-400 sm:text-lg md:mb-8">
      <li>氏名(ニックネームやペンネームも含む)</li>
      <li>メールアドレス</li>
      <li>写真や動画</li>
      <li>ペットの名前(ニックネームを含む)</li>
      <li>ペットの年齢</li>
      <li>ペットの性別</li>
      <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
      <li>Cookie(クッキー)を用いて生成された識別情報</li>
      <li>OSが生成するID、端末の種類、端末識別子等のお客様が利用するOSや端末に関する情報</li>
      <li>当ウェブサイトの滞在時間、入力履歴、購買履歴等の当ウェブサイトにおけるお客様の行動履歴</li>
      <li>当アプリの起動時間、入力履歴、購買履歴等の当アプリの利用履歴</li>
    </ul>

    <h2 class="mb-2 text-xl font-semibold text-gray-300 sm:text-2xl md:mb-4">お客様の情報を利用する目的</h2>

    <p class="mb-6 text-gray-400 sm:text-lg md:mb-8">当サービスは、お客様から取得した情報を、以下の目的のために利用します。</p>

    <ul class="mb-6 list-inside list-disc text-gray-400 sm:text-lg md:mb-8">
      <li>当サービスに関する登録の受付、お客様の本人確認、認証のため</li>
      <li>お客様の当サービスの利用履歴を管理するため</li>
      <li>当サービスにおけるお客様の行動履歴を分析し、当サービスの維持改善に役立てるため</li>
      <li>お客様の趣味嗜好にあわせたターゲティング広告を表示するため</li>
      <li>当サービスに関するご案内をするため</li>
      <li>お客様からのお問い合わせに対応するため</li>
      <li>当サービスの規約や法令に違反する行為に対応するため</li>
      <li>当サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
      <li>当サービス規約の変更等を通知するため</li>
      <li>以上の他、当サービスの提供、維持、保護及び改善のため</li>
    </ul>

    <h2 class="mb-2 text-xl font-semibold text-gray-300 sm:text-2xl md:mb-4">安全管理のために講じた措置</h2>

    <p class="mb-6 text-gray-400 sm:text-lg md:mb-8">
      当サービスが、お客様から取得した情報に関して安全管理のために講じた措置につきましては、<br>
      末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。
    </p>

    <h2 class="mb-2 text-xl font-semibold text-gray-300 sm:text-2xl md:mb-4">第三者提供</h2>

    <p class="mb-6 text-gray-400 sm:text-lg md:mb-8">
      当サービスは、お客様から取得する情報のうち、個人データ（個人情報保護法第１６条第３項）に該当するものついては、<br>
      あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。<br>
      但し、次の場合は除きます。
    </p>

    <ul class="mb-6 list-inside list-disc text-gray-400 sm:text-lg md:mb-8">
      <li>個人データの取扱いを外部に委託する場合</li>
      <li>当サービスが買収された場合</li>
      <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
      <li>その他、法律によって合法的に第三者提供が許されている場合</li>
    </ul>

    <h2 class="mb-2 text-xl font-semibold text-gray-300 sm:text-2xl md:mb-4">プライバシーポリシーの変更</h2>

    <p class="mb-6 text-gray-400 sm:text-lg md:mb-8">
      当サービスは、必要に応じて、このプライバシーポリシーの内容を変更します。<br>
      この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。
    </p>

    <h2 class="mb-2 text-xl font-semibold text-gray-300 sm:text-2xl md:mb-4">お問い合わせ</h2>

    <p class="mb-6 text-gray-400 sm:text-lg md:mb-8">お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、以下のメールアドレスにご連絡ください。</p>

    <p class="mb-6 text-gray-400 sm:text-lg md:mb-8">
      e-mail:<br>
      greeeen.4ever.love@gmail.com
    </p>

    <p class="mb-6 text-gray-400 sm:text-lg md:mb-8">
      この場合、必ず、運転免許証のご提示等当サービスが指定する方法により、ご本人からのご請求であることの確認をさせていただきます。<br>
      なお、情報の開示請求については、開示の有無に関わらず、ご申請時に一件あたり1,000円の事務手数料を申し受けます。
    </p>

    <p class="mb-6 text-gray-400 sm:text-lg md:mb-8">2024年03月07日 制定</p>
  </div>
</div>
