<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded border-t border-accent">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to t('footer.terms_of_service'), terms_of_service_path, class: "link link-hover" %>
    <%= link_to t('footer.privacy_policy'), privacy_policy_path, class: "link link-hover" %>
    <%= link_to t('footer.contact_us'), contact_us_path, class: "link link-hover" %>
  </nav>
  <div class='text-xl'>事故画美術館</div>
  <aside>
    <p>Copyright © 2024 - All right reserved by JikogArtMuseum</p>
  </aside>
</footer>
