<li class="tooltip" data-tip=<%= t('defaults.next_page') %>>
  <%= link_to_unless current_page.last?, t('defaults.pagination.next').html_safe, url, rel: 'next', remote: remote, class: 'join-item btn btn-square' %>
</li>
