<li class="tooltip" data-tip=<%= t('defaults.prev_page') %>>
  <%= link_to_unless current_page.first?, t('defaults.pagination.previous').html_safe, url, rel: 'prev', remote: remote, class: 'join-item btn btn-square' %>
</li>
